html,
body {
    margin: 0;
}

body {
    font-family: Inter, sans-serif;
}

/* Main content area */
.container {
    margin: 45px 40px;
}

/* Header */
header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

a {
    display: block;
    margin-bottom: 10px;
}

/* Journal entry */
article.journal-entry {
    display: flex;
}

/* Main mountain image */
article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Information section */
.info-container {
    max-width: 400px;
}

/* Map marker */
article.journal-entry .marker {
    width: 20px;
    margin-right: 4px;
}

/* Country */
.info-container .country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

/* Google Maps link */
.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

/* Entry title */
.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

/* Date */
.info-container .entry-date {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}

/* Description */
.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}